

/* ========================= layout ======================== */

html,body,.capa{
	height: 100%;
	overflow: hidden;
}

body {
	/*background: url('imagens/capa.jpg'),
				url('imagens/ruido.png'),
				linear-gradient(50deg,#ff4169,#7c26f8);
	
	background-attachment: fixed;
	
	*/
	margin: 0;
	background:white;		
	font-family: Helvetica,Arial,sans-serif;
}



.latul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.latli a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.latli a.active {
  background-color: #4CAF50;
  color: white;
}

.latli a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.navul {
 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navli {
  float: left;
}

.navli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navli a:hover {
  background-color: #111;
}

/* Lista assuntos */
.bg-par{
	background-color: #299BD5;
}
.bg-impar{
	background-color: #0D6BF4;
}
.btn-margin{
	margin-top: 2%;
}
/* -- Barra de navegação -- */
.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/towork.svg') no-repeat;
	background-size: contain;

}
nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
	border: none; 
}
.navbar-brand{ 
	padding: 13px 15px;
}
.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin:16px 10px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #9bf0e1;
}
.bg-nav{
	background-color: #380B61;
}

/*==================================== Formulários =======================================*/
.div-formulario{
	margin-left:25%;
	padding:1px 16px;
	height:92.1%;
	background-color: white;
	overflow-y: hidden;
}
.div-formulario-redacao{
	margin-left:25%;
	padding:1px 16px;
	height:92.1%;
	background-color: white;
	overflow-y: scroll;
}
/* -- Imagem de capa -- */
.capa{
	display: table;
	width: 100%;
}

.texto-capa{
	text-align: center;
	color:white;
	display: table-cell;
	vertical-align: middle;
}
.botao-capa{
	width: 480px; 
	border-radius: 15px;

}

/* seção instrutor */
#aprendiz_instrutor{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* -- rodape -- */

/* ========================= Tipografia ======================== */
h1{
	font-size: 100px;
	font-weight: 900px;
}
h2{
	font-size: 50px;
	font-weight: 700px;
}
h3{
	font-size: 35px;
	font-weight: 700px;
	letter-spacing: -0.04em;
}
#aprendiz_instrutor h2,h3{
	color:#37A9FC ;
}
.texto-centro{
	text-align: center;
}
.texto-cor-branca{
	color: white;
}
.texto-cor-pergunta{
	color: #DBA901;
}
.tamanho-letra{
	font-size: 23px;
}
.tamanho-form-menu{
	font-size: 18px;
}
/* ======================== Margem Home ========================== */
.margem-home{
	margin-right: -20%;
}
.margem-home-logo{
	margin-left: -135%;
}
/* ======================== Caixas assinaturas =================== */
.box-assinatura{
	background: white;
	height: 220px;
	margin-top: 4%;
	margin-bottom: 10%;
	width: 75%;
	margin-left: 13%;
}
.box-assinatura-cartao{
	border: inset 25px white;
	
}
.box-assinatura-boleto{
	border: outset 25px white;
}

/*======================== Backgrounds =======================*/
.background-cinza{
	background: gray;
}
/*======================== Bordas ============================*/
.borda-perfil{
	border: 5px solid #848484;
	border-radius: 250px;
}
/*======================== Largura ============================*/
.tamanho-dropdown{
	width: 250px;
}
/* ======================= Fonts Icons ========================*/
.font-sino{
	font-size: 36px;
}
.font-anexo{
	font-size: 24px;
}
/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px){
	.navbar-inverse{
		background-color: gray;
	}
	.tamanho-dropdown{
		width: 100px;
	}
	.borda-perfil{
		width: 16%;
		margin-left: 2%;
	}
	.font-sino{
		font-size: 24px;
	}
	.font-anexo{
		width: 10px;
		font-size: 15px;
	}
	.div-formulario{
		overflow-y: scroll;
	}
	.latli{
		font-size: 12px;
	}
}
/* sm */
@media screen and (min-width: 768px) and (max-width: 991px){
	.navbar-inverse{
		background-color: gray;
	}
	.tamanho-dropdown{
		width: 100px;
	}
	.margem-home{
		margin-right: -5%;
	}
	.margem-home-logo{
		margin-left: -20%;
	}
	.div-formulario{
		overflow-y: scroll;
	}
	
}
/* md */
@media screen and (min-width: 992px) and (max-width: 1199px){
	.margem-home{
		margin-right: -5%;
	}
	.margem-home-logo{
		margin-left: -20%;
	}
}
/* lg */
@media screen and (min-width: 1200px){
	 
}
